footer {
    padding: 50px 0;
    background-color: $color-five;
    position: relative;
    font-size: $font-main-size - 2;
    z-index: 1200;

    @include break3 {
        z-index: 1;
    }

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 35px;
        top: 0;
        z-index: 2;
        transform: translateY(-100%);
        position: absolute;
        border-top-right-radius: 40px;
        display: none;

        @include breaktab1 {
            border-top-right-radius: 0;
        }
    }

    .cols {
        @include break3 {
            @include padding-left;
        }
    }

    .col {
        width: 25%;

        @include break3 {
            width: 100% !important;
            margin-bottom: 40px;
        }

        &:last-of-type {
            width: 50%;

            @include break3 {
                margin-bottom: 0;
            }

            .content {
                position: absolute;
                bottom: 5px;
                text-align: right;
                width: 100%;
                margin-bottom: 0;

                @include break3 {
                    position: static;
                    text-align: left;
                }
            }

            .logo-main {
                margin-bottom: 12px;
                width: 190px;
                height: 26px;
                background-size: 190px 26px;
            }

            .legal {
                li {
                    display: inline-block;
                    margin-left: 12px;

                    @include break3 {
                        margin-left: 0;
                        margin-right: 12px;
                    }
                }
            }
        }
    }

    .content {
        margin-bottom: 12px;

        .title {
            margin-bottom: 10px;

            br {
                @include break3 {
                    display: none;
                }
            }
        }

        .form {
            margin-top: 18px;
            position: relative;
            max-width: 320px;
            ::-webkit-input-placeholder {color: $color-two; opacity: 1;}
            :-moz-placeholder { color: $color-two; opacity: 1;}
            ::-moz-placeholder { color: $color-two; opacity: 1;}
            :-ms-input-placeholder {color: $color-two; opacity: 1;}
            :-o-input-placeholder {color: $color-two; opacity: 1;}

            input:not([type="submit"]) {
                background-color: transparent;
                outline: none;
                border: 1px solid $color-two;
                border-top-right-radius: 6px;
                padding: 10px 15px 12px 15px;
                box-sizing: border-box;
                width: 100%;
            }

            input[type="submit"] {
                background-color: transparent;
                outline: none;
                border: 0;
                font-size: 20px;
            }

            .button {
                position: absolute;
                right:4px;
                top:  7px;
            }
        }
    }

    .social {
        line-height: 0;

        li {
            display: inline-block;
            font-size: 25px;
            margin-right: 5px;
        }

        a {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: relative;
        }

        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .alt-only {
            display: none;
        }
    }

}

.liquid {
    footer {
        background-color: $color-two;
        color: $color-five;

        &:before {
            background-color: $color-two;
        }

        a {
            color: $color-five;
        }

        .logo-main {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 380.6 50.7' style='enable-background:new 0 0 380.6 50.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ECE7E4;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M340.7,12.8c-9.1,0-18.1,6.9-18.1,18.9c0,11.8,7.8,18.9,18.1,18.9c8.3,0,14.8-4.2,17.3-11.5h-9.4 c-1.5,2.6-4.2,3.9-7.5,3.9c-5,0-8.9-3.6-9.3-8.9h26.8c0.1-0.8,0.1-1.6,0.1-2.4C358.8,19.8,350.1,12.8,340.7,12.8 M332.2,27.6 c0.7-3.5,3.8-7.1,8.6-7.1c4.1,0,7.5,2.8,8.6,7.1H332.2z'/%3E%3Cpath class='st0' d='M0,8.9h22.6c1,0,1,0.4,0,0.7c-5.4,1.4-7.6,4.5-7.6,9.1v31.1h9.5V16.1c0-2.8,0.5-4.2,1.8-5.4 c1.3-1.2,3.1-1.8,5.4-1.8h7.9v-8H0V8.9z'/%3E%3Cpath class='st0' d='M374.7,0.9h-9.2v12.8h-5v6.9c2.2,0,5,1,5,4.8V40c0,3.6,0.7,5.7,2,7.2c1.6,1.9,4,2.6,7.5,2.6h5.5v-7.8h-3.2 c-1.8,0-2.7-0.8-2.7-2.7v-8.9c0-5.3-3.2-8.1-7.8-9.2c-1.1-0.3-1-0.7,0.1-0.7h13.6v-6.9h-5.9V0.9z'/%3E%3Crect x='267.7' y='13.7' class='st0' width='9.2' height='36.1'/%3E%3Cpath class='st0' d='M204.9,12.8c-7.6,0-14,3.3-14.9,10.4h9.2c0.8-2.5,2.9-3.3,5.3-3.3c3.5,0,5.6,1.1,5.6,3.7 c0,2.1-1.6,3.2-4.9,3.3c-1,0-2.4,0-3.7,0.1c-8.8,0.3-13.7,4.8-13.7,11.8c0,6.2,4.3,11.8,12,11.8c5.4,0,8.6-2.1,10-7.1 c0.3-1,0.7-1,0.7,0v6.3h9.1V25.1C219.5,17.6,215.5,12.8,204.9,12.8 M210.3,30.2c0,2.5,0.1,2.4-0.1,4.3c-0.4,5.6-3.6,8.9-7.8,8.9 c-2.9,0-5.5-2.1-5.5-5.1c0-3.4,2.4-4.8,6-4.8c4.2,0,5.7-1.2,6.3-3.3C209.6,29.3,210.3,29.5,210.3,30.2'/%3E%3Cpath class='st0' d='M246.2,12.8c-3.8,0-7.5,1.3-10.2,4.6V0.9h-9.2v48.9h8.9v-4.1c2.6,3.4,6,4.9,10.1,4.9c10.1,0,16.1-8.4,16.1-19 C261.9,21.1,255.7,12.8,246.2,12.8 M244.3,43.1c-5.3,0-8.6-4.8-8.6-11.3c0-6.5,3.3-11.3,8.6-11.3c5.4,0,8.5,5.1,8.5,11.3 C252.8,38.7,249.2,43.1,244.3,43.1'/%3E%3Cpath class='st0' d='M303.6,12.8c-4.1,0-7.2,1.3-9.8,3.9v-3.1h-9.2v36.1h9.2V28.9c0-3.4,0.6-5.3,2.1-6.8c1.1-1.2,2.7-1.8,4.9-1.8 c2.1,0,3.8,0.7,4.8,1.8c1.6,1.6,2.1,3.6,2.1,6.9v20.9h9.2V27c0-4.6-1.1-7.8-3.7-10.4C310.6,14,307.3,12.8,303.6,12.8'/%3E%3Cpath class='st0' d='M63.1,12.8c-4.1,0-7.2,1.3-9.8,3.9V0.9h-9.2v48.9h9.2V28.9c0-3.4,0.6-5.3,2.1-6.8c1.1-1.2,2.7-1.8,4.9-1.8 c2.1,0,3.8,0.7,4.8,1.8c1.6,1.6,2.1,3.6,2.1,6.9v20.9h9.2V27c0-4.6-1.1-7.8-3.7-10.4C70.1,14,66.7,12.8,63.1,12.8'/%3E%3Cpath class='st0' d='M100.2,12.8c-9.1,0-18.1,6.9-18.1,18.9c0,11.8,7.8,18.9,18.1,18.9c8.3,0,14.8-4.2,17.3-11.5h-9.4 c-1.8,2.8-4.2,4-7.5,4c-5,0-8.8-3.7-9.2-9h26.8c0.1-0.8,0.1-1.6,0.1-2.4C118.2,19.8,109.6,12.8,100.2,12.8 M91.6,27.6 c0.7-3.5,3.8-7.2,8.6-7.2c4.1,0,7.5,2.9,8.6,7.2H91.6z'/%3E%3Cpath class='st0' d='M162.1,8.1c6.1,0,10.1,3.3,11.8,9.3h9.2c-0.8-4.8-3-9.2-6.4-12.1c-4-3.6-8-5.2-14.7-5.2 c-11.3,0-21.4,9.5-21.4,25.3c0,8.2,2,13.8,5.7,18.4c3.7,4.6,9.2,6.9,15.7,6.9c6.7,0,10.7-1.5,14.7-5.1c3.4-2.9,5.6-7.4,6.4-12.3 h-9.2c-1.8,6.4-5.7,9.4-11.8,9.4c-6.8,0-12.1-6-12.1-17.4C149.9,15,155.1,8.1,162.1,8.1'/%3E%3C/g%3E%3C/svg%3E");
        }

        .form {
            ::-webkit-input-placeholder {color: $color-five !important; opacity: 1 !important;}
            :-moz-placeholder { color: $color-five !important; opacity: 1 !important;}
            ::-moz-placeholder { color: $color-five !important; opacity: 1 !important;}
            :-ms-input-placeholder {color: $color-five !important; opacity: 1 !important;}
            :-o-input-placeholder {color: $color-five !important; opacity: 1 !important;}

            input:not([type="submit"]) {
                border: 1px solid $color-five !important;
            }
        }

        #mce-success-response {
            color: $color-five !important;
        }
    }
}
