body {
    font-family: $font-three;
    font-size: $font-main-size;
    color: $color-two;
    line-height: 1.35;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background-color: $color-five;

    &:before {
        content: '';
        position:fixed;
        height:  100vh;
        width:    40px;
        top: 0;
        left:0;
        background-color: $color-five;
        display:  none;
        z-index:    10;

        @include break3 {
            display: block;
        }
    }

    section {
        min-height: 100vh;
        position:   relative;
        box-sizing: border-box;

        @include break3 {
            @include padding-left;
        }

        &.height-auto {
            min-height: 0 !important;
        }
    }
}

body, html {
	height:100% !important;
}

//-----

body:not(.liquid) {
    h1 {
        width: 200px;
        text-align:right;
        position:  fixed !important;
        font-size:  18px;
        top:   150px;
        left:  -75px;
        z-index:9000;
        transform: rotate(-90deg);
        opacity: 0;
        transition: opacity .12s ease-in-out;
        cursor: default;

        @include break3 {
            left: -79px;
        }

        &.to-show {
            opacity: 1;
            transition: opacity .5s ease-in-out;
        }
    }
}

//-----

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.clearfix {
	clear: both;
}

//-----

img {
    width: 100%;
    display: block;
    height: auto;
}

.bg-img {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.logo-main {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 380.6 50.7' style='enable-background:new 0 0 380.6 50.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23282526;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M340.7,12.8c-9.1,0-18.1,6.9-18.1,18.9c0,11.8,7.8,18.9,18.1,18.9c8.3,0,14.8-4.2,17.3-11.5h-9.4 c-1.5,2.6-4.2,3.9-7.5,3.9c-5,0-8.9-3.6-9.3-8.9h26.8c0.1-0.8,0.1-1.6,0.1-2.4C358.8,19.8,350.1,12.8,340.7,12.8 M332.2,27.6 c0.7-3.5,3.8-7.1,8.6-7.1c4.1,0,7.5,2.8,8.6,7.1H332.2z'/%3E%3Cpath class='st0' d='M0,8.9h22.6c1,0,1,0.4,0,0.7c-5.4,1.4-7.6,4.5-7.6,9.1v31.1h9.5V16.1c0-2.8,0.5-4.2,1.8-5.4 c1.3-1.2,3.1-1.8,5.4-1.8h7.9v-8H0V8.9z'/%3E%3Cpath class='st0' d='M374.7,0.9h-9.2v12.8h-5v6.9c2.2,0,5,1,5,4.8V40c0,3.6,0.7,5.7,2,7.2c1.6,1.9,4,2.6,7.5,2.6h5.5v-7.8h-3.2 c-1.8,0-2.7-0.8-2.7-2.7v-8.9c0-5.3-3.2-8.1-7.8-9.2c-1.1-0.3-1-0.7,0.1-0.7h13.6v-6.9h-5.9V0.9z'/%3E%3Crect x='267.7' y='13.7' class='st0' width='9.2' height='36.1'/%3E%3Cpath class='st0' d='M204.9,12.8c-7.6,0-14,3.3-14.9,10.4h9.2c0.8-2.5,2.9-3.3,5.3-3.3c3.5,0,5.6,1.1,5.6,3.7 c0,2.1-1.6,3.2-4.9,3.3c-1,0-2.4,0-3.7,0.1c-8.8,0.3-13.7,4.8-13.7,11.8c0,6.2,4.3,11.8,12,11.8c5.4,0,8.6-2.1,10-7.1 c0.3-1,0.7-1,0.7,0v6.3h9.1V25.1C219.5,17.6,215.5,12.8,204.9,12.8 M210.3,30.2c0,2.5,0.1,2.4-0.1,4.3c-0.4,5.6-3.6,8.9-7.8,8.9 c-2.9,0-5.5-2.1-5.5-5.1c0-3.4,2.4-4.8,6-4.8c4.2,0,5.7-1.2,6.3-3.3C209.6,29.3,210.3,29.5,210.3,30.2'/%3E%3Cpath class='st0' d='M246.2,12.8c-3.8,0-7.5,1.3-10.2,4.6V0.9h-9.2v48.9h8.9v-4.1c2.6,3.4,6,4.9,10.1,4.9c10.1,0,16.1-8.4,16.1-19 C261.9,21.1,255.7,12.8,246.2,12.8 M244.3,43.1c-5.3,0-8.6-4.8-8.6-11.3c0-6.5,3.3-11.3,8.6-11.3c5.4,0,8.5,5.1,8.5,11.3 C252.8,38.7,249.2,43.1,244.3,43.1'/%3E%3Cpath class='st0' d='M303.6,12.8c-4.1,0-7.2,1.3-9.8,3.9v-3.1h-9.2v36.1h9.2V28.9c0-3.4,0.6-5.3,2.1-6.8c1.1-1.2,2.7-1.8,4.9-1.8 c2.1,0,3.8,0.7,4.8,1.8c1.6,1.6,2.1,3.6,2.1,6.9v20.9h9.2V27c0-4.6-1.1-7.8-3.7-10.4C310.6,14,307.3,12.8,303.6,12.8'/%3E%3Cpath class='st0' d='M63.1,12.8c-4.1,0-7.2,1.3-9.8,3.9V0.9h-9.2v48.9h9.2V28.9c0-3.4,0.6-5.3,2.1-6.8c1.1-1.2,2.7-1.8,4.9-1.8 c2.1,0,3.8,0.7,4.8,1.8c1.6,1.6,2.1,3.6,2.1,6.9v20.9h9.2V27c0-4.6-1.1-7.8-3.7-10.4C70.1,14,66.7,12.8,63.1,12.8'/%3E%3Cpath class='st0' d='M100.2,12.8c-9.1,0-18.1,6.9-18.1,18.9c0,11.8,7.8,18.9,18.1,18.9c8.3,0,14.8-4.2,17.3-11.5h-9.4 c-1.8,2.8-4.2,4-7.5,4c-5,0-8.8-3.7-9.2-9h26.8c0.1-0.8,0.1-1.6,0.1-2.4C118.2,19.8,109.6,12.8,100.2,12.8 M91.6,27.6 c0.7-3.5,3.8-7.2,8.6-7.2c4.1,0,7.5,2.9,8.6,7.2H91.6z'/%3E%3Cpath class='st0' d='M162.1,8.1c6.1,0,10.1,3.3,11.8,9.3h9.2c-0.8-4.8-3-9.2-6.4-12.1c-4-3.6-8-5.2-14.7-5.2 c-11.3,0-21.4,9.5-21.4,25.3c0,8.2,2,13.8,5.7,18.4c3.7,4.6,9.2,6.9,15.7,6.9c6.7,0,10.7-1.5,14.7-5.1c3.4-2.9,5.6-7.4,6.4-12.3 h-9.2c-1.8,6.4-5.7,9.4-11.8,9.4c-6.8,0-12.1-6-12.1-17.4C149.9,15,155.1,8.1,162.1,8.1'/%3E%3C/g%3E%3C/svg%3E");
    text-indent: -9000px;
    text-align: left;
    display: inline-block;
    width: 250px;
    height: 35px;
    background-size: 250px 35px;

    &:hover {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 380.6 50.7' style='enable-background:new 0 0 380.6 50.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%234C4949;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M340.7,12.8c-9.1,0-18.1,6.9-18.1,18.9c0,11.8,7.8,18.9,18.1,18.9c8.3,0,14.8-4.2,17.3-11.5h-9.4 c-1.5,2.6-4.2,3.9-7.5,3.9c-5,0-8.9-3.6-9.3-8.9h26.8c0.1-0.8,0.1-1.6,0.1-2.4C358.8,19.8,350.1,12.8,340.7,12.8 M332.2,27.6 c0.7-3.5,3.8-7.1,8.6-7.1c4.1,0,7.5,2.8,8.6,7.1H332.2z'/%3E%3Cpath class='st0' d='M0,8.9h22.6c1,0,1,0.4,0,0.7c-5.4,1.4-7.6,4.5-7.6,9.1v31.1h9.5V16.1c0-2.8,0.5-4.2,1.8-5.4 c1.3-1.2,3.1-1.8,5.4-1.8h7.9v-8H0V8.9z'/%3E%3Cpath class='st0' d='M374.7,0.9h-9.2v12.8h-5v6.9c2.2,0,5,1,5,4.8V40c0,3.6,0.7,5.7,2,7.2c1.6,1.9,4,2.6,7.5,2.6h5.5v-7.8h-3.2 c-1.8,0-2.7-0.8-2.7-2.7v-8.9c0-5.3-3.2-8.1-7.8-9.2c-1.1-0.3-1-0.7,0.1-0.7h13.6v-6.9h-5.9V0.9z'/%3E%3Crect x='267.7' y='13.7' class='st0' width='9.2' height='36.1'/%3E%3Cpath class='st0' d='M204.9,12.8c-7.6,0-14,3.3-14.9,10.4h9.2c0.8-2.5,2.9-3.3,5.3-3.3c3.5,0,5.6,1.1,5.6,3.7 c0,2.1-1.6,3.2-4.9,3.3c-1,0-2.4,0-3.7,0.1c-8.8,0.3-13.7,4.8-13.7,11.8c0,6.2,4.3,11.8,12,11.8c5.4,0,8.6-2.1,10-7.1 c0.3-1,0.7-1,0.7,0v6.3h9.1V25.1C219.5,17.6,215.5,12.8,204.9,12.8 M210.3,30.2c0,2.5,0.1,2.4-0.1,4.3c-0.4,5.6-3.6,8.9-7.8,8.9 c-2.9,0-5.5-2.1-5.5-5.1c0-3.4,2.4-4.8,6-4.8c4.2,0,5.7-1.2,6.3-3.3C209.6,29.3,210.3,29.5,210.3,30.2'/%3E%3Cpath class='st0' d='M246.2,12.8c-3.8,0-7.5,1.3-10.2,4.6V0.9h-9.2v48.9h8.9v-4.1c2.6,3.4,6,4.9,10.1,4.9c10.1,0,16.1-8.4,16.1-19 C261.9,21.1,255.7,12.8,246.2,12.8 M244.3,43.1c-5.3,0-8.6-4.8-8.6-11.3c0-6.5,3.3-11.3,8.6-11.3c5.4,0,8.5,5.1,8.5,11.3 C252.8,38.7,249.2,43.1,244.3,43.1'/%3E%3Cpath class='st0' d='M303.6,12.8c-4.1,0-7.2,1.3-9.8,3.9v-3.1h-9.2v36.1h9.2V28.9c0-3.4,0.6-5.3,2.1-6.8c1.1-1.2,2.7-1.8,4.9-1.8 c2.1,0,3.8,0.7,4.8,1.8c1.6,1.6,2.1,3.6,2.1,6.9v20.9h9.2V27c0-4.6-1.1-7.8-3.7-10.4C310.6,14,307.3,12.8,303.6,12.8'/%3E%3Cpath class='st0' d='M63.1,12.8c-4.1,0-7.2,1.3-9.8,3.9V0.9h-9.2v48.9h9.2V28.9c0-3.4,0.6-5.3,2.1-6.8c1.1-1.2,2.7-1.8,4.9-1.8 c2.1,0,3.8,0.7,4.8,1.8c1.6,1.6,2.1,3.6,2.1,6.9v20.9h9.2V27c0-4.6-1.1-7.8-3.7-10.4C70.1,14,66.7,12.8,63.1,12.8'/%3E%3Cpath class='st0' d='M100.2,12.8c-9.1,0-18.1,6.9-18.1,18.9c0,11.8,7.8,18.9,18.1,18.9c8.3,0,14.8-4.2,17.3-11.5h-9.4 c-1.8,2.8-4.2,4-7.5,4c-5,0-8.8-3.7-9.2-9h26.8c0.1-0.8,0.1-1.6,0.1-2.4C118.2,19.8,109.6,12.8,100.2,12.8 M91.6,27.6 c0.7-3.5,3.8-7.2,8.6-7.2c4.1,0,7.5,2.9,8.6,7.2H91.6z'/%3E%3Cpath class='st0' d='M162.1,8.1c6.1,0,10.1,3.3,11.8,9.3h9.2c-0.8-4.8-3-9.2-6.4-12.1c-4-3.6-8-5.2-14.7-5.2 c-11.3,0-21.4,9.5-21.4,25.3c0,8.2,2,13.8,5.7,18.4c3.7,4.6,9.2,6.9,15.7,6.9c6.7,0,10.7-1.5,14.7-5.1c3.4-2.9,5.6-7.4,6.4-12.3 h-9.2c-1.8,6.4-5.7,9.4-11.8,9.4c-6.8,0-12.1-6-12.1-17.4C149.9,15,155.1,8.1,162.1,8.1'/%3E%3C/g%3E%3C/svg%3E");
        width: 250px;
        height: 35px;
        background-size: 250px 35px;
    }
}

.logo-liquid {
    text-indent: -9000px;
    text-align: left;
    display: inline-block;
    width: 250px;
    height: 35px;
    background-size: 250px 35px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 535.8 74.6' style='enable-background:new 0 0 535.8 74.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23EDE7E4;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M288.5,0v20.8h0.2c1.4-2.3,3.2-4,5.3-5.1c2.2-1.1,4.3-1.6,6.3-1.6c2.9,0,5.3,0.4,7.2,1.2 c1.9,0.8,3.4,1.9,4.4,3.3c1.1,1.4,1.8,3.1,2.3,5.2c0.4,2,0.7,4.3,0.7,6.8v24.5h-11V32.6c0-3.3-0.5-5.7-1.5-7.4 c-1-1.6-2.9-2.4-5.5-2.4c-3,0-5.1,0.9-6.5,2.7c-1.3,1.8-2,4.7-2,8.8v20.9h-11V0H288.5z'/%3E%3Cpath class='st0' d='M334.6,21.8v33.3h-11V15.2h4.4C331.6,15.2,334.6,18.2,334.6,21.8z'/%3E%3Cpath class='st0' d='M399.5,0v29.6l13.8-14.4h13l-15,14.7L428,55.1h-13.3l-11-17.8l-4.2,4.1v13.7h-11V0H399.5z'/%3E%3Cpath class='st0' d='M443.1,21.8v33.3h-11V15.2h4.4C440.1,15.2,443.1,18.2,443.1,21.8z'/%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M55.9,21.8v33.3h-11V15.2h4.4C52.9,15.2,55.9,18.2,55.9,21.8z'/%3E%3Cpath class='st0' d='M168.7,21.8v33.3h-11V15.2h4.4C165.7,15.2,168.7,18.2,168.7,21.8z'/%3E%3C/g%3E%3Cpath class='st0' d='M29.5,44.9c0,0-9.4,0-17.4,0c-3.5,0-6.7,0-8.7,0c-1.2,0-1.2-0.5-0.1-0.8c6.2-1.6,8.7-5.2,8.7-10.5V0H1.2H0 v41.7v12.4v1h39V44.9H29.5z'/%3E%3Cpath class='st0' d='M81,55.9c4.4,0,8.7-1.4,11.8-5.1v18.2h10.6V15H93.1v4.5c-3-3.7-7-5.4-11.7-5.4c-11.7,0-18.7,9.2-18.7,20.9 C62.7,46.7,69.9,55.9,81,55.9z M83.2,22.5c6.2,0,10,5.3,10,12.5c0,7.2-3.8,12.5-10,12.5c-6.3,0-9.9-5.7-9.9-12.5 C73.3,27.4,77.5,22.5,83.2,22.5z'/%3E%3Cpath class='st0' d='M175.5,35.2c0,11.7,7,20.9,18.7,20.9c4.7,0,8.7-1.7,11.7-5.4v4.5h10.3v-54h-10.6v18.2 c-3.1-3.6-7.4-5.1-11.8-5.1C182.7,14.3,175.5,23.5,175.5,35.2z M186.1,35.2c0-6.8,3.6-12.5,9.9-12.5c6.2,0,10,5.3,10,12.5 c0,7.2-3.8,12.5-10,12.5C190.3,47.7,186.1,42.8,186.1,35.2z'/%3E%3C/g%3E%3Cpath class='st0' d='M272.4,0h-45.1v10.2h16.5v0c3.8,0,7.4,0,9.6,0c1.3,0,1.3,0.5,0.1,0.9c-6.8,1.8-9.7,5.8-9.7,11.6v32.4h12.1h0 V19.4c0-3.5,0.7-5.3,2.3-6.8c1.6-1.5,3.9-2.3,6.9-2.3l0,0h7.3V0z'/%3E%3Cpath class='st0' d='M127.1,56.1c4.7,0,8.4-1.4,11.4-4.3v3.4h10.6v-40h-10.6v23.2c0,3.8-0.7,5.8-2.5,7.5c-1.3,1.3-3.2,2-5.6,2 c-2.5,0-4.4-0.7-5.6-1.9c-1.9-1.8-2.5-4-2.5-7.6V15.2h-10.6v25.2c0,5.1,1.3,8.7,4.2,11.5C119,54.8,122.9,56.1,127.1,56.1z'/%3E%3Cpath class='st0' d='M365.3,14.2c-4.7,0-8.4,1.4-11.4,4.3v-3.4h-10.6v40h10.6V31.9c0-3.8,0.7-5.8,2.5-7.5c1.3-1.3,3.2-2,5.6-2 c2.5,0,4.4,0.7,5.6,1.9c1.9,1.8,2.5,4,2.5,7.6v23.2h10.6V29.8c0-5.1-1.3-8.7-4.2-11.5C373.3,15.5,369.4,14.2,365.3,14.2z'/%3E%3Cpath class='st0' d='M473.7,14.2c-4.7,0-8.4,1.4-11.4,4.3v-3.4h-10.6v40h10.6V31.9c0-3.8,0.7-5.8,2.5-7.5c1.3-1.3,3.2-2,5.6-2 c2.5,0,4.4,0.7,5.6,1.9c1.9,1.8,2.5,4,2.5,7.6v23.2h10.6V29.8c0-5.1-1.3-8.7-4.2-11.5C481.8,15.5,477.9,14.2,473.7,14.2z'/%3E%3Cpath class='st0' d='M525.5,15v4.5c-3-3.7-7-5.4-11.7-5.4c-11.7,0-18.7,9.2-18.7,20.9c0,3.3,0.6,6.5,1.7,9.3 c2.7,6.9,8.7,11.6,16.6,11.6c4.4,0,8.7-1.4,11.8-5.1v4.9c0,1.8-0.4,3.7-1.3,5.3c-1.8,3.2-5,5.2-8.9,5.2c-3.7,0-6.5-1.4-8.5-4.5H496 c2.8,8.2,10.1,12.9,19.5,12.9c5.7,0,10.8-2,14.4-5.6c3.7-3.7,5.9-9,5.9-15.7V15H525.5z M522.8,44c-1.7,2.2-4.2,3.5-7.2,3.5 c-3.1,0-5.6-1.4-7.3-3.7c-1.7-2.3-2.6-5.4-2.6-8.8c0-0.2,0-0.4,0-0.5c0.2-7.3,4.3-12,9.9-12c6.1,0,9.9,5.2,10,12.2 c0,0.1,0,0.2,0,0.2C525.6,38.6,524.6,41.8,522.8,44z'/%3E%3C/g%3E%3C/svg%3E");

    @include breakmob1 {
        width: 180px;
        height: 30px;
        background-size: 180px auto;
        background-position: left center;
    }
}

//-----

a {
	text-decoration: none;
	color: $color-two;
    transition: opacity .15s ease-in-out;

    &:not(.is-img):hover {
        text-decoration: underline;
    }
}

//-----

.page-enter-active, .page-leave-active {
    transition: opacity .4s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}
