// ---- Variables -----

$color-one:  #EA515A;
$color-two:  #242122;
$color-three:#4C4949;
$color-four: #BDBDBE;
$color-five: #ECE7E4;
$color-six:  #FFF;

// ---

$font-main-size: 16px;
$font-one:  'Helvetica Neue Cond', Helvetica, Arial, sans-serif;
$font-two:  'BaskervilleBQ', 'Times New Roman', Times, serif;
$font-three:'Avenir', Helvetica, Verdana, sans-serif;

